// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column {
  float: left;
  box-sizing: border-box;
}
/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-8{
  width: 12.5%;
}

.col-2-5{
  width: 40%;
  display:flex;
  // padding-top: 40px;
}
.col-1-2{
  width: 50%;

}

// .album-show{
//   display:flex;
//
// }

.album-image{
  // width: 350px;
  // height: 320px;
  width: 100%;
}

.song-titles{
  padding: 10px;
}

.footnote1{
  font-size: 14px;
  padding-top: 20px;
  font-weight: bold;
  padding-left: 8px;

}

.footnote2{
  font-size: 14px;
  padding-top:  -10px;
  padding-left: 8px;

}

.artist-page{
  display:flex;
  justify-content: center;
}
.artist-box{
  background-color: beige;
  // padding-bottom: 50px;
  // padding-top: 30px;
  // padding-left: 120px;
  // padding-right: 30px;
  padding: 50px;
    // padding-right: 600px;

    padding-left: -60px;
  margin: 10px;
  width: 100%;
  display:flex;
  justify-content: center;
  border: 1px solid black;
  }

  .artist-box-left{
    width: 300px;
    margin-right: 50px;
    // border: 1px solid black;
  }

  .artist-box-right{
    // padding-left: 400px;
    // border: 1px solid black;
    margin-left: 50px;
    margin-top: -5px;
  }







// .album-index{
//   display:flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .tracks-show{
//   display:flex;
//   align-items: center;
//   text-align: center;
// }
//
// .album-show{
//   display:flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
// }
