// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.album-image{
  width: 280px;
  height: 250px;
}

.album-index{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

// .tracks-show{
//   display:flex;
//   align-items: center;
//   text-align: center;
// }
//
// .album-show{
//   display:flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
// }
