.artist-image{
  width: 180px;
  height: 160px;
  // width: 80%;
  // height: 80%;
  // border: 1px solid black;
}

.artist-box{
  width: 90%;
  // border:1px solid black;
}

.artist-index{
  display:flex;
  // justify-content: space-around;
  justify-content: flex-start;
  flex-wrap:wrap;
  // align-items: center;
  width:85%;
  // align-content: center;
  margin:0 auto;
  // border:1px solid red;

}

.artist-name{
  color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.band-item{
  margin:43px;
  margin-top: 0;
  padding-bottom: 10px;
  width: 180px;



}

.artist-description{
  margin: 4px;
  font-style: italic;
  font-size: 14px;
}

.band-item:hover{
  // background-color: #eef2f3
  background-color: lightgray;
}

.artist-name{
  text-decoration: none;
}

.artist-page{
  // background-color: #F0F8FF
}

// .artist-name:hover{
//   text-decoration: underline;
// }
