.comment-form{
  width: 250px;
  height: 100px;
}

.comment-form-container{
  font-style: italic;
}

.comment-submit{
  width: 50px;
}

.comment-body{
  font-style: italic;
  font-size: 16px;
  // border-bottom: 1px solid black;
  width: 200px;
  margin-left: -39px;
  margin-bottom: 30px;
}

.comment-author{
  font-style: italic;
  font-size: 14px;
}
