// Place all the styles related to the navbar here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.discover{
  text-decoration: underline;
}

.nav-bar div{
  /*background-color: lightgray;*/
  background-color: white;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 10px;
}


.nav-bar div a{
  padding: 6px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nav-bar div a:hover{
  text-decoration: underline;
}


.logo{
  width: 200px;
  padding-top: 6px;
}

.slogan{
  font-size: 18px;
  margin:0;
  // width: 200px;
}

.left-nav {
  display: flex;
  // flex-direction: column;
  margin: 10px;
  float:left;
  flex: 0 0 auto;
}
//
.right-nav {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  float:right;
  font-weight: bold;
  flex: 0 0 auto;
}

.nav-bar {
  height: 90px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  flex: 0 0 auto;
  background-color: white;
  border-bottom: 1px solid gray;
  // border: 1px solid black;
}

.alt-signup{
  margin:15px;
}

.alt-login{
  margin:15px;
}
