// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  /*padding: 10px 30px;*/
  width: 200px;
  height: 25px;
  margin: 7px;
  /*border-radius: 2px;*/
}
.login-button{
background-color: rgb(0,161,198); /* Green */
border: none;
color: white;
padding: 12px 122px;
// width: 100px;
text-align: center;
text-decoration: none;
// display: inline-block;
font-size: 16px;
}

button:hover{
  cursor:pointer;
}

.signup-button{
  background-color: rgb(0,161,198); /* Green */
border: none;
color: white;
padding: 12px 117px;
// width: 100px;
text-align: center;
text-decoration: none;
// display: inline-block;
font-size: 16px;
}



.signup-form {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 60px 11px;
  list-style: none;
  // background-image: url("https://i.imgur.com/emK45lb.jpg");
  // opacity: 0.5;
  // filter: alpha(opacity=50);
}

.alt-signup {
  text-decoration: none;
  color: black;
}

.alt-login {
  text-decoration: none;
  color: black;

}

.alt-login:hover{
  text-decoration: underline;
}

.alt-signup:hover{
  text-decoration: underline;
}


.login-form {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 60px 11px;
  // background-image: url("https://i.imgur.com/emK45lb.jpg");
  // opacity: 0.5;
  // filter: alpha(opacity=50);
}

.login-form::after{


  content: "";
  // background: url(image.jpg);
  // background: url("https://i.imgur.com/emK45lb.jpg");
  opacity: 0.3;
  top: 0;
  left: 150px;
  bottom: 150px;
  right: 150px;
  position: absolute;
  z-index: -1;
}

.signup-form::after{


  content: "";
  // background: url(image.jpg);
  // background: url("https://i.imgur.com/emK45lb.jpg");
  opacity: 0.3;
  top: 0;
  left: 150px;
  bottom: 150px;
  right: 150px;
  position: absolute;
  z-index: -1;
}

.background-image{
  width: 100%;
  padding-bottom: 200px;
  position: relative;
}

.session-errors ul li{
  color: red;
  display:flex;
  justify-content: center;
  padding-right: 40px;
}
