.splash-image{
width: 85%;
height: 85%;
}

.slogan{
  color: rgb(0,161,198);
  padding: 10px;
}

.welcome{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
}
