.spotlight1-image{
  width: 832px;
  margin-right: 4px;
  // width: 100%;
}

.spotlight2-image{
  width: 215px;
  margin-bottom: 4px;
  // width: 40%;
}
.spotlight3-image{
  width: 215px;
  height: auto;
  margin: 0;
  // width: 40%;

}
.spotlight{
  display: flex;
  width: 100%;
  justify-content: center;
}

.side-spotlight{
  display:flex;
  flex-direction: column;

}
