.spotlight1-image{
  width: 900px;
  margin-right: 4px;
  // width: 80%;
}

.spotlight2-image{
  width: 232px;
  margin-bottom: 4px;
}
.spotlight3-image{
  width: 233px;
  height: auto;
  margin: 0;
}
.spotlight{
  display: flex;
  width: 100%;
  justify-content: center;
}

.side-spotlight{
  display:flex;
  flex-direction: column;

}

.spotlight-container{
  width: 100%;
}
